<!-- Intro Section -->
<section class="relative overflow-hidden mb-2"> 
  <!-- The video -->
  <video autoplay muted loop class="w-full h-full object-cover absolute z-0">
    <source src="assets/video/hero.webm" type="video/webm">
  </video>

  <div class="bg-gradient absolute w-full h-full z-40 opacity-60"></div>

  <div class="w-full h-full absolute z-40">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
  </div>

  <div class="container mx-auto relative z-50">
    <div class="text-center px-20 py-60 w-full md:w-8/12 mx-auto">
      <h1 class="text-7xl font-bold uppercase mb-2">nehal</h1>
      <p>
        Like and Subscribe plssss
      </p>
    </div>
  </div>
</section>

<!-- Main Content -->
<section class="container mx-auto">
  <h1 class="uppercase text-center text-4xl grid mt-20 mb-12 items-center gap-8 tracking-widest latest">Latest</h1>

  <app-clips-list></app-clips-list>
</section>